* {
    box-sizing: border-box;
}


.basic-example > p {
    color: blue;
}

basic-example > p {
    color: green;
}


#blue-font {
    color: blue;
}

.red-font {
    color: red;
}

/* 
div > p > span


p > span */

.box-model > p {
    border: solid 10px lightgray;
    background-color: lightgreen;
    margin: 20px;
    padding: 20px;
    width: 300px;
}

.display > p {
    width: 300px;
    border: solid;
}


.display > .row > div {
    width: 50%;
    border: solid;
    height: 100px;
    display: inline-block;
}

.hide {
    display: none !important;
    /* visibility: hidden; */
}


.display > .row > div:hover {
    background-color: aqua;
}